<header>
    <div>
        <h1>Le nostre pizze</h1>
        <h2>La top 3 di questa settimana</h2>
    </div>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Pizza")">Home</a>
                <a href="@Url.Action("Privacy", "Pizza")">Privacy</a>
            </li>
        </ul>
    </nav>
</header>
