@model Pizza

@{
    var pizza = Model;
}

<h2>Crea una nuova Pizza</h2>
<div>
    <div class="container-form">
        <form method="post" asp-asp-controller="Pizza" asp-action="Create">
            @Html.AntiForgeryToken()
            <div>
                <label asp-for="Nome">Nome</label>
                <input asp-for="Nome" />
                <span asp-validation-for="Nome"></span>
            </div>
            <div>
                <label asp-for="Descrizione">Descrizione</label>
                <input asp-for="Descrizione" />
                <span asp-validation-for="Descrizione"></span>
            </div>
            <div>
                <label asp-for="Foto">Foto</label>
                <input asp-for="Foto" />
                <span asp-validation-for="Foto"></span>
            </div>
            <div>
                <label asp-for="Prezzo">Prezzo</label>
                <input asp-for="Prezzo" />
                <span asp-validation-for="Prezzo"></span>
            </div>
            <button type="submit">Crea ora!</button>
        </form>
    </div>
</div>